@model FullBlog

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.OneBlog.NameBlog</h1>

<div class="row InBlock">
    <div class="col-md-5">

        <h5>@Html.DisplayFor(model => model.OneBlog.NameBlog)</h5>
        <p class="text">
            @Html.DisplayFor(model => model.OneBlog.TextBlog)
        </p>
        <b>Тема блога: </b>
        <p>@Html.DisplayFor(model => model.OneBlog.TypeBlog)</p>
        <b>Создатель проекта: </b>
        <a href="/UserProfiles/Details/@Model.OneBlog.IdUser" class="LinkBlock">Перейти в профиль</a><br />
        <p>@Model.OneBlog.DateBlog</p>
    </div>

    <div class=" col-md-7">

        <div>
            @foreach (var img in @Model.Image)
            {
                <div class="imageDetails"><img class="image" src="data:image/jpeg;base64,@(Convert.ToBase64String(img.DataImg))" /></div>
            }
        </div>
    </div>
</div>
<div style="padding: 20px 0">
    <a asp-action="Edit" asp-route-id="@Model.OneBlog.IdBlog" class="LinkBlock">Редактировать</a> |
    <a asp-action="Delete" asp-route-id="@Model.OneBlog.IdBlog" class="LinkBlock">Удалить</a> |
    <a asp-action="Index" class="LinkBlock">На главную страницу</a>
</div>