@model FullBlog

@{
    ViewData["Title"] = "Блоги пользователя";
}

    <div class="row block">
        @foreach (var item in Model.Blog)
        {
            <div class="col-md-4">
                <div class="InBlock listBlock">
                    <div class="contentBlock">
                        <h5 class="textBlock"><a asp-action="Details" asp-route-id="@item.IdBlog" style="color: #A52A2A">@item.NameBlog</a></h5>
                        <p class="textBlock">
                            @item.TextBlog
                        </p>
                    </div>
                    <hr />
                    <div class="contentBlock">

                        @foreach (var elem in Model.Image)
                        {
                            if (elem.IdBlog == @item.IdBlog)
                            {
                                if (item.MainImg == elem.IdImg)
                                {
                                    <div class="imgBlock"><img style='height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(elem.DataImg))" /></div>
                                }
                            }
                        }
                        <p>@item.DateBlog</p>
                        <a asp-action="Details" asp-route-id="@item.IdBlog" style="color: #A52A2A">Просмотр</a><br />
                        <a asp-controller="UserProfiles" asp-action="Details" asp-route-id="@item.IdUser" class="LinkBlock">Профиль пользователя</a>
                    </div>
                    </div>

                </div>
         }
    </div>
    <div style="padding: 20px 0"><a asp-controller="UserProfiles" asp-action="Index" class="LinkBlock">Все пользователи</a></div>