@model SytePortfolio.FullUser

@{
    ViewData["Title"] = "Профиль пользователя";
}

<h1>Профиль пользователя</h1>

<div style="padding: 20px 0">
        <a asp-controller="UserPortfolio" asp-action="HisPortfolio" asp-route-id="@Model.OneUser.IdUser" class="LinkBlock">Портфолио пользователя</a> |
        <a asp-controller="BlogUsers" asp-action="HisBlogs" asp-route-id="@Model.OneUser.IdUser" class="LinkBlock">Блоги пользователя</a>
</div>

<div class="row InBlock">
    <div class=" col-md-7">
        @foreach (var img in @Model.Image)
        {
            <div class="imageDetails"><img class="image" src="data:image/jpeg;base64,@(Convert.ToBase64String(img.DataImg))" /></div>
        }
    </div>

    <div class="col-md-5">
        <div>
            <h5>@if (Model.OneUser.NameUser != null)@Model.OneUser.SurnameUser @Model.OneUser.NameUser @Model.OneUser.MiddlenameUser</h5>
            <p><b>@if (Model.OneUser.AdressUser != null)@Model.OneUser.AdressUser</b></p>
            <p><i><b>"@if (Model.BiographyUser.StatusUser != null)@Model.BiographyUser.StatusUser"</b></i></p>
            <hr />
            <h6>@if (Model.BiographyUser.NameHistoryBiography != null)@Model.BiographyUser.NameHistoryBiography</h6>
            <p><i>@if (Model.BiographyUser.UserHistory != null)@Model.BiographyUser.UserHistory</i></p>
        </div>
        <div>
            <p>@if (Model.OneUser.AgeUser != null)@Model.OneUser.AgeUser</p>
            <p>@if (Model.OneUser.AmailUser != null)@Model.OneUser.AmailUser</p>
            <p>@if (Model.OneUser.PhoneUser != null)@Model.OneUser.PhoneUser</p>
        </div>
        <div>
            <h6>Образование</h6>
            <p>@if (Model.EducationUser.StatusEducation != null)@Model.EducationUser.StatusEducation</p>
            <p>@if (Model.EducationUser.EducationalInstitution != null)@Model.EducationUser.EducationalInstitution</p>
            <p>@if (Model.EducationUser.NameSpecialization != null)@Model.EducationUser.NameSpecialization</p>
        </div>
        <div>
            <h6>Место работы</h6>
            <p>@if (Model.WorkplaceUser.NameOrganization != null)@Model.WorkplaceUser.NameOrganization</p>
            <p>@if (Model.WorkplaceUser.UserPosition != null)@Model.WorkplaceUser.UserPosition</p>
            <h6>Обязанности</h6>
            <p>@if (Model.WorkplaceUser.DescriptionWorkplace != null)@Model.WorkplaceUser.DescriptionWorkplace</p>
            <h6>Ключевые навыки</h6>
            <p>@if (Model.WorkplaceUser.KeySkill != null)@Model.WorkplaceUser.KeySkill</p>
        </div>

        <div>
            <h6>Услуги</h6>
            <p>@if (Model.ServicesUser.NameServices != null)@Model.ServicesUser.NameServices</p>
            <p>@if (Model.ServicesUser.DescriptionServices != null)@Model.ServicesUser.DescriptionServices</p>
        </div>
    </div>
</div>

    <div style="padding: 20px 0">
        <a asp-action="Index" class="LinkBlock">Все пользователи</a>
    </div>